<p style="color: green"><%= notice %></p>

<h1>Shoot locations</h1>

<div id="shoot_locations">
  <% @shoot_locations.each do |shoot_location| %>
    <%= render shoot_location %>
    <p>
      <%= link_to "Show this shoot location", shoot_location %>
    </p>
  <% end %>
</div>

<%= link_to "New shoot location", new_shoot_location_path %>
