<div class="row align-items-md-stretch">
    <div class="col-md-6">
    <div class="h-100 p-5 bg-warning rounded-3">
        <h2>What to watch next?</h2>
        <p>Our experts reviews would guide you to choose the best</p>
    </div>
    </div>
    <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Interested in details?</h2>
        <p>Our data will help you to lear more about your best series</p>
    </div>
    </div>
</div>